%tr{id:dom_id(contact)}
  %td= check_box_tag "contacts_ids[]", contact.id
  %td= contact.first_name
  %td= contact.last_name
  %td= contact.phone
  %td= link_to 'Show', contact
  %td= link_to 'Edit', edit_contact_path(contact), remote:true
  %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?', remote:true }
